@model URLShortnerWebApp.Models.URLShortenViewModel

@{
    ViewBag.Title = "GenerateShortenUrl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Generate Shorten URL</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.longURL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.longURL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.longURL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.shortenURL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <a href="@Html.DisplayFor(model => model.shortenURL)" target="_blank">@Html.DisplayFor(model => model.shortenURL, new { htmlAttributes = new { @class = "form-control" } })</a>
                @Html.ValidationMessageFor(model => model.shortenURL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Generate URL" class="btn btn-default" />
            </div>
        </div>
    </div>
}

